################
# Dependencies #
################
node_modules

##########
# Builds #
##########
frontend/public/assets
backend/dist


###################
# VSCode - eslint #
###################
tasks.json